<div class="form-group col-md-6">
  <!--Resim Yükleme 1 -->
  <div class="row" style="max-height:12%">
    <div class="col-3">
      <img  style="max-width:25%;max-height:100%;" class="img-thumbnail fotolar" src="../resimler/<?php if ($urun['foto1']=="BOS") {
            echo "resimyok.png";
        }else{
          echo $urun['foto1'];
        } ?>">
    </div>
    <div class="col-3 text-center">
         <label class="file-upload btn btn-primary text-truncate">
            Resim Seç <input id="resim" name="foto1" onclick="onizle(this.name,this.id,'onizleme')" class="text-truncate" type="file" />
        </label>
    </div>
    <input type="text" style="display:none"  name="eklenme_tarihi" value="<?php echo date('d.m.Y');  ?>">
    <div  class="col-3 onizleme text-center">
        <b>Resim Yok</b>
    </div>
    <div class="col-3 text-center">
         <button type="button" name="button" class="btn btn-success">Güncelle</button>
    </div>
  </div>
    <!--Resim Yükleme 2 -->
  <div class="row" style="max-height:12%">



    <div class="col-3">
      <img  style="max-width:25%;max-height:100%;" class="img-thumbnail fotolar" src="../resimler/<?php if ($urun['foto2']=="BOS") {
            echo "resimyok.png";
        }else{
          echo $urun['foto2'];
        } ?>">
    </div>

    <div class="col-3 text-center">
        <label class="file-upload btn btn-primary text-truncate">
            Resim Seç <input id="resim1" name="foto2" onclick="onizle(this.name,this.id,'onizleme1')" class="text-truncate" type="file" />
        </label>

    </div>
    <div  class="col-3 onizleme1 text-center">
        <b>Resim Yok</b>
    </div>
    <div class="col-3 text-center">
         <button type="button" name="button" class="btn btn-success">Güncelle</button>
    </div>

  </div>
    <!--Resim Yükleme -->
  <div class="row" style="max-height:12%">
    <div class="col-3">
      <img  style="max-width:25%;max-height:100%;" class="img-thumbnail fotolar" src="../resimler/<?php if ($urun['foto3']=="BOS") {
            echo "resimyok.png";
        }else{
          echo $urun['foto3'];
        } ?>">
    </div>
    <div class="col-3 text-center">
         <label class="file-upload btn btn-primary text-truncate">
            Resim Seç <input id="resim2" name="foto3" onclick="onizle(this.name,this.id,'onizleme2')" class="text-truncate" type="file" />
        </label>

    </div>
    <div  class="col-3 onizleme2 text-center">
      <b>Resim Yok</b>
    </div>
  </div>
    <!--Resim Yükleme -->
    <div class="row" style="max-height:12%">
      <div class="col-3">
        <img  style="max-width:25%;max-height:100%;"  class="img-thumbnail fotolar" src="../resimler/<?php if ($urun['foto4']=="BOS") {
              echo "resimyok.png";
          }else{
            echo $urun['foto4'];
          } ?>">

      </div>
      <div class="col-3 text-center">
           <label class="file-upload btn btn-primary text-truncate">
              Resim Seç <input id="resim3" name="foto4" onclick="onizle(this.name,this.id,'onizleme3')" class="text-truncate" type="file" />
          </label>

      </div>
      <div  class="col-3 onizleme3 text-center">
        <b>Resim Yok</b>
      </div>
    </div>
    <!--Resim Yükleme -->
    <div class="row" style="max-height:12%">
      <div class="col-3">
        <img  style="max-width:25%;max-height:100%;" class="img-thumbnail fotolar" src="../resimler/<?php if ($urun['foto5']=="BOS") {
              echo "resimyok.png";
          }else{
            echo $urun['foto5'];
          } ?>">
      </div>
      <div class="col-3 text-center">
           <label class="file-upload btn btn-primary text-truncate">
              Resim Seç <input id="resim4" name="foto5" onclick="onizle(this.name,this.id,'onizleme4')" class="text-truncate" type="file" />
          </label>

      </div>
      <div  class="col-3 onizleme4 text-center">
        <b>Resim Yok</b>
      </div>
    </div>
    <!--Resim Yükleme -->
    <div class="row" style="max-height:12%">
      <div class="col-3">
        <img  style="max-width:25%;max-height:100%;" class="img-thumbnail fotolar" src="../resimler/<?php if ($urun['foto6']=="BOS") {
              echo "resimyok.png";
          }else{
            echo $urun['foto6'];
          } ?>">
      </div>
      <div class="col-3 text-center">
           <label class="file-upload btn btn-primary text-truncate">
              Resim Seç <input id="resim5" name="foto6" onclick="onizle(this.name,this.id,'onizleme5')" class="text-truncate" type="file" />
          </label>

      </div>
      <div  class="col-3 onizleme5 text-center">
        <b>Resim Yok</b>
      </div>
    </div>
    <!--Resim Yükleme -->
    <div class="row" style="max-height:12%">
      <div class="col-3">
        <img  style="max-width:25%;max-height:100%;" class="img-thumbnail fotolar" src="../resimler/<?php if ($urun['foto7']=="BOS") {
              echo "resimyok.png";
          }else{
            echo $urun['foto7'];
          } ?>">
      </div>
      <div class="col-3 text-center">
           <label class="file-upload btn btn-primary text-truncate">
              Resim Seç <input id="resim6" name="foto7" onclick="onizle(this.name,this.id,'onizleme6')" class="text-truncate" type="file" />
          </label>

      </div>
      <div  class="col-3 onizleme6 text-center">
        <b>Resim Yok</b>
      </div>
    </div>
    <!--Resim Yükleme -->
    <div class="row" style="max-height:12%">
      <div class="col-3">
        <img  style="max-width:25%;max-height:100%;" class="img-thumbnail fotolar" src="../resimler/<?php if ($urun['foto8']=="BOS") {
              echo "resimyok.png";
          }else{
            echo $urun['foto8'];
          } ?>">
      </div>
      <div class="col-3 text-center">
          <span></span> <label class="file-upload btn btn-primary text-truncate">
              Resim Seç <input id="resim7" name="foto8" onclick="onizle(this.name,this.id,'onizleme7')" class="text-truncate" type="file" />
          </label>

      </div>
      <div  class="col-3 onizleme7 text-center">
        <b>Resim Yok</b>
      </div>
    </div>

</div>
